<html lang="pt-br">
	<head>
		<meta charset="UTF-8">
		<title>Aprenda AngularJS - Busca Instantânea</title>

		<link href="https://fonts.googleapis.com/css?family=Cookie|Open+Sans:400,700" rel="stylesheet">

	]
		<link rel="stylesheet" type="text/css" href="style.css">

]
		<script src="https://apis.google.com/js/platform.js" async defer></script>
		<meta name="google-signin-client_id" content="726827115136-h46p3qmfb6ufclepiiaormb1690he6ut.apps.googleusercontent.com">
	</head>

	<!-- Inicialize uma nova aplicação AngularJS e associe-a com um módulo chamado "instantSearch" -->
	<body ng-app="instantSearch" ng-controller="InstantSearchController">
	
	<div class="g-signin2" data-onsuccess="onSignIn"></div>
	<p id='msg'></p>
		<div class="bar">
			<!-- Crie uma ligação entre o modelo searchString e o campo de texto -->
			<input type="text" ng-model="searchString" placeholder="Digite seu termo de pesquisa">
		</div>

		<ul>
			<!-- Renderize um elemento li para cada entrada no array de itens. Note o filtro de busca customizado "searchFor". Ele pega o valor do modelo searchString como um argumento. -->
			<li ng-repeat="i in items | searchFor:searchString">
				<a href="{{ i.url }}"><img ng-src="{{ i.image }}"></a><p>{{ i.title }}</p>
			</li>
		</ul>

		<!-- Incluindo o AngularJS - Google's CDN -->
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
		<script src="script.js"></script>
		<script function onSignIn(googleUser) {
		var profile = googleUser.getBasicProfile();
		console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
		var nome=  profile.getName();
		console.log('Image URL: ' + profile.getImageUrl());
		console.log('Email: ' + profile.getEmail()); // This is null if the 'email' scope is not present.
		
		document.getElementById('msg').innerHTML = nome;
		}		</script>
		
	</body>
</html>